

.button {
    padding: 0.5em 1em;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 1000ms;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #03254a;
  }
  

  .button:focus {
    outline: 3px solid #03254a; 
    outline-offset: 2px;
  }
  
  .button-primary {
    color: #fff !important;
    background-color: #03254a !important;
  }
  
  .button-primary:hover, .button-primary:focus  {
    color: #03254a !important;
    transform: scale(1.1);
    box-shadow: 4px 5px 17px -4px #03254a;
  }
  
  .button-primary::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .button-primary:hover::before,.button-primary:focus::before  {
    background-color: #fff !important;
    width: 250%;
  }
  
  .button-secundary {
    color: #03254a !important;
    background-color: #fff !important;
  }
  
  .button-secundary:hover, 
  .button-secundary:focus {
    color: #fff !important;
    transform: scale(1.1);
    box-shadow: 4px 5px 17px -4px #03254a;
  }
  
  .button-secundary::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .button-secundary:hover::before,.button-secundary:focus::before {
    background-color: #03254a;
    width: 250%;
  }
  